.icon-office{
    content: url("../img/icons/office.svg");
}
.icon-korpus{
    content: url("../img/icons/korpus.svg");
}
.icon-parking{
    content: url("../img/icons/parking.svg");
}
.icon-scool{
    content: url("../img/icons/scool.svg");
}
.icon-garden{
    content: url("../img/icons/garden.svg");
}
.icon-cars{
    content: url("../img/icons/cars.svg");
}

.icon-search{
    content: url("../img/icons/serach.svg");
}
.icon-x{
    content: url("../img/icons/icon-x.svg");
}
.icon-lock{
    content: url("../img/icons/lock.svg");
}

.icon-sort{
    content: url("../img/icons/sort.svg");
}

.arrow-down{
    content: url("../img/icons/arrow-down.svg");
}
.icon-play{
    content: url("../img/icons/play.svg");
}
.arrow-top-right{
    content: url("../img/icons/arrow-top-right.svg");
}

.icon-camera{
    content: url("../img/icons/camera.svg");
}

.icon-apart{
    content: url("../img/icons/apart.svg");
}


.icon-house{
    content: url("../img/icons/house.svg");
}
.icon-car{
    content: url("../img/icons/icon-car.svg");
}


.icon-storerooms{
    content: url("../img/icons/storerooms.svg");
}


.icon-moto{
    content: url("../img/icons/moto.svg");
}


.icon-filter{
    content: url("../img/icons/filter.svg");
}

.icon-call{
    content: url("../img/icons/call.svg");
}

.men-icon{
    content: url("../img/icons/men-icon.svg");
}

