@charset "UTF-8";

.icon {
    display               : inline-block;
    height                : 1em;
    width                 : 1em;
    mask-size             : contain;
    -webkit-mask-size     : contain;
    mask-repeat           : no-repeat;
    -webkit-mask-repeat   : no-repeat;
    mask-position         : center;
    -webkit-mask-position : center;
    font-size             : 24px;
    background-color      : rgba(0, 0, 0, 1);
    transition: 0.3s;

}


.icon.icon-call {
    mask-image: url(../img/icons/call.svg);
    -webkit-mask-image: url(../img/icons/call.svg);
}


.icon.icon-sort {
    mask-image: url(../img/icons/sort.svg);
    -webkit-mask-image: url(../img/icons/sort.svg);
    width: 20px;
    height: 20px;
}



.icon-office{
    content: url("../img/icons/office.svg");
}
.icon-korpus{
    content: url("../img/icons/korpus.svg");
}
.icon-parking{
    content: url("../img/icons/parking.svg");
}
.icon-scool{
    content: url("../img/icons/scool.svg");
}
.icon-garden{
    content: url("../img/icons/garden.svg");
}
.icon-cars{
    content: url("../img/icons/cars.svg");
}

.icon-search{
    content: url("../img/icons/serach.svg");
}
.icon-x{
    content: url("../img/icons/icon-x.svg");
}
.icon-lock{
    content: url("../img/icons/lock.svg");
}


.arrow-down{
    content: url("../img/icons/arrow-down.svg");
}
.icon-play{
    content: url("../img/icons/play.svg");
}
.arrow-top-right{
    content: url("../img/icons/arrow-top-right.svg");
}

.icon-camera{
    content: url("../img/icons/camera.svg");
}

.icon-apart{
    content: url("../img/icons/apart.svg");
}


.icon-house{
    content: url("../img/icons/house.svg");
}
.icon-car{
    content: url("../img/icons/icon-car.svg");
}


.icon-storerooms{
    content: url("../img/icons/storerooms.svg");
}


.icon-moto{
    content: url("../img/icons/moto.svg");
}


.icon-filter{
    content: url("../img/icons/filter.svg");
}



.men-icon{
    content: url("../img/icons/men-icon.svg");
}


.icon-kay{
    content: url("../img/icons/key.svg");
}


.icon-concierge-1{
    content: url("../img/icons/concierge-1.svg");
}
.icon-concierge-2{
    content: url("../img/icons/concierge-2.svg");
}
.icon-concierge-3{
    content: url("../img/icons/concierge-3.svg");
}
.icon-concierge-4{
    content: url("../img/icons/concierge-4.svg");
}
.icon-concierge-1{
    content: url("../img/icons/concierge-1.svg");
}
.icon-concierge-5{
    content: url("../img/icons/concierge-5.svg");
}
.icon-concierge-6{
    content: url("../img/icons/concierge-6.svg");
}
.icon-concierge-7{
    content: url("../img/icons/concierge-7.svg");
}
.icon-concierge-8{
    content: url("../img/icons/concierge-8.svg");
}
.icon-concierge-9{
    content: url("../img/icons/concierge-9.svg");
}
.icon-concierge-10{
    content: url("../img/icons/concierge-10.svg");
}

.icon-concierge-11{
    content: url("../img/icons/concierge-11.svg");
}

.icon-concierge-12{
    content: url("../img/icons/concierge-12.svg");
}

.icon-concierge-13{
    content: url("../img/icons/concierge-13.svg");
}

.icon-concierge-14{
    content: url("../img/icons/concierge-14.svg");
}

.icon-concierge-15{
    content: url("../img/icons/concierge-15.svg");
}

.icon-concierge-16{
    content: url("../img/icons/concierge-16.svg");
}
.icon-concierge-17{
    content: url("../img/icons/concierge-17.svg");
}
.icon-concierge-18{
    content: url("../img/icons/concierge-18.svg");
}


