
.modal {
    display: none;
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    -webkit-animation: unfoldIn 0.1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldIn 0.1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}


.modal-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 14px;
}
.close{
    position: absolute;
    top: 48px;
    right: 48px;
    width: 48px;
    height: 48px;
    background: #00000040;
    cursor: pointer;
    z-index: 99;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
}

.close:before,
.close:after{
    content: "";
    position: absolute;
    background-color: #9A9A9A;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.close:before{
    width: 20px;
    height: 2px;
}
.close:after{
    width: 2px;
    height: 20px;
}


.body_fix {
    overflow: hidden;
}
.body_fix:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transition: 0.3s;
    backdrop-filter: blur(8px);
    background: #00000099;

}





.modal-news-box{
    box-shadow: 4px 4px 30px 0px #00000026;
    background: #FEFFFA;
    border-radius: 24px;
    max-width: 670px;
    width: 100%;
    padding: 32px 20px 0 32px;
    position: relative;
}
.modal-news-scr{
    overflow-y: scroll;
    padding-right: 12px;
}
.modal-news-scr::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: #0000000D;
    border-radius: 8px;

}
.modal-news-scr::-webkit-scrollbar-thumb {
    width: 4px;
    height: 4px;
    background: #BEDC1CCC;
    border-radius: 8px;
}

.modal-news-info{
    height: 768px;
}
.modal-news-info img{
    width: 100%;
    height: 390px;
    border-radius: 12px;
    object-fit: cover;
}

.modal-news-info h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
    color: #000000;
    margin-top: 24px;
}
.modal-news-info span{
    color: #00000080;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    display: block;
    margin-top: 8px;
}
.modal-news-info p{
    margin-top: 12px;
}









.gallery-modal{
    max-width: 1200px;
    width: 100%;
}
.gallery-modal-slider{
    width: 100%;
}


.gallery-fon{
    background: #FFFFFF;
    padding: 70px 100px;
    box-shadow: 4px 4px 30px 0px #00000026;
    border-radius: 24px;
}
.gallery-modal-pic{
    width: 100%;

}
.gallery-modal-pic img{
    width: 100%;
}

.gallery-modal-btn{
    position: relative;
    margin-top: 48px;
    gap: 42px;
}


.gallery-modal-btn .swiper-button-next, .gallery-modal-btn .swiper-button-prev {

    background: #FFFFFF40;

    backdrop-filter: blur(45px);

}

.gallery-modal-btn .swiper-pagination{
    position: relative;
    width: max-content;
    bottom: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;

}








