
.modal {
    display: none;
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    -webkit-animation: unfoldIn 0.1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldIn 0.1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}


.modal-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 14px;
}
.close, .modal-close{
    position: absolute;
    top: 48px;
    right: 48px;
    width: 48px;
    height: 48px;
    background: #00000080;
    cursor: pointer;
    z-index: 99;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
}

.close:before, .modal-close:before,
.close:after, .modal-close:after{
    content: "";
    position: absolute;
    background-color: #9A9A9A;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.close:before, .modal-close:before{
    width: 20px;
    height: 2px;
}
.close:after, .modal-close:after{
    width: 2px;
    height: 20px;
}


.body_fix {
    overflow: hidden;
}
.body_fix:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transition: 0.3s;
    backdrop-filter: blur(8px);
    background: #00000099;

}





.modal-news-box{
    box-shadow: 4px 4px 30px 0px #00000026;
    background: #FEFFFA;
    border-radius: 24px;
    max-width: 670px;
    width: 100%;
    padding: 32px 20px 0 32px;
    position: relative;
}
.modal-news-scr{
    overflow-y: scroll;
    padding-right: 12px;
}
.modal-news-scr::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: #0000000D;
    border-radius: 8px;

}
.modal-news-scr::-webkit-scrollbar-thumb {
    width: 4px;
    height: 4px;
    background: #BEDC1CCC;
    border-radius: 8px;
}

.modal-news-info{
    height: 768px;
}
.modal-news-info img{
    width: 100%;
    height: 390px;
    border-radius: 12px;
    object-fit: cover;
}

.modal-news-info h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
    color: #000000;
    margin-top: 24px;
}
.modal-news-info span{
    color: #00000080;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    display: block;
    margin-top: 8px;
}
.modal-news-info p{
    margin-top: 12px;
}









.gallery-modal{
    max-width: 1200px;
    width: 100%;
}
.gallery-modal-slider{
    width: 100%;
}


.gallery-fon{
    background: #FFFFFF;
    padding: 70px 100px;
    box-shadow: 4px 4px 30px 0px #00000026;
    border-radius: 24px;
}
.gallery-modal-pic{
    width: 100%;

}
.gallery-modal-pic img{
    width: 100%;
}

.gallery-modal-btn{
    position: relative;
    margin-top: 48px;
    gap: 42px;
}


.gallery-modal-btn .swiper-button-next, .gallery-modal-btn .swiper-button-prev {

    background: #FFFFFF40;

    backdrop-filter: blur(45px);

}

.gallery-modal-btn .swiper-pagination{
    position: relative;
    width: max-content;
    bottom: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;

}






body.modal-open {
    overflow: hidden;
}
.modal-open:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: 0.3s;
    backdrop-filter: blur(8px);
    background: #00000099;

}


.finishing-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.card {

    cursor: pointer;
}


.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-overlay.active {
    display: flex;
}
.modal-window {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
}
.modal-options-href{
    width: 100%;
    border-radius: 51px;
    padding: 4px;
    background: rgba(239, 239, 239, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.modal-options-href ul {
    display:flex;
    padding:0 4px;
    list-style:none;
    /* важное для работы скролла с flex */
    flex:1 1 auto;
    min-width:0;
    overflow-x:auto;
    white-space:nowrap;
    scroll-behavior:smooth;
    -webkit-overflow-scrolling:touch;
}
.modal-options-href ul::-webkit-scrollbar {
    display: none;
}


.modal-options-click {
    width: max-content;
    border-radius: 44px;
    padding: 8px 24px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 1);
    border: 1px solid transparent;
    white-space: nowrap;
    transition: 0.3s;
}
.modal-options-click.active {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(254, 255, 250, 1);

}
.modal-options-js {
    display: none;
}
.modal-options-js.active {
    display: block;
}
.modal-options-min{
    margin-top: 24px;
}

.modal-options{
    background: rgba(254, 255, 250, 1);
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    max-width: 1200px;
    width: 100%;
    padding: 32px;
    min-height: 700px;
}

.modal-options-flex{
    width: 100%;
    gap: 24px;
}


.modal-options-slide{
    max-width: 530px;
    width: 100%;
}
.modal-options-flex .options-gallery-pic{
    height: 560px;
}
.modal-options-flex .options-gallery-pic img {
    height: auto;
}

.modal-options-info{
    max-width: 606px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-options-info::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.modal-options-info::-webkit-scrollbar-thumb {
    width: 4px;
    height: 4px;
    border-radius: 8px;
    background: rgba(190, 220, 28, 0.8);

}
.modal-options-scr{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 561px;
    padding-right: 8px;
}

.modal-options-info span{
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    display: block;
    margin-bottom: 8px;
}
.modal-options-info  ul{
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 16px;
}
.modal-options-info ul li{
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;

}
.modal-options-info h2{
    font-weight: 400;
}
.modal-options-info h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: rgba(0, 0, 0, 1);
}


.types-mortgage-pik{
    background: rgba(239, 239, 239, 1);
    max-width: 530px;
    width: 100%;
    border-radius: 12px;
    height: 561px;
}
.types-mortgage-pik img{
    width: 100%;
    border-radius: 12px;
    height: 100%;
    object-fit: cover;
}

.can-apply-flex{
    margin-top: 24px;
    gap: 20px;

}
.can-apply-prcent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.can-apply-prcent strong{
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 32px;
    line-height: 135%;
}


.project-benefits-info{
    max-width: 606px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal-options-slid{
    width: 100%;
}



.pill-arrow {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    transition: 0.2s;
}
.pill-arrow:disabled {
    opacity: 0.3;
    cursor: default;
}

.pill-arrow i{
    filter: brightness(1) invert(1);
}

.pill-arrow-btn{
    gap: 8px;
}

.decorative-text{
    width: 100%;
}
.decorative-text p{
    margin-top: 8px;
}
.decorative-name{
    gap: 10px;
}
.decorative-name i{
    width: 24px;
    height: 24px;
}
.decorative-name span{
    color: rgba(26, 26, 26, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
}

.golden-trophy{
    background: rgba(190, 220, 28, 1);
    width: 100%;
    border-radius: 24px;
    padding: 32px;
    height: 360px;
    position: relative;
}
.golden-trophy h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}
.golden-trophy  img{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 400px;
    width: 100%;
}












.modal-video{
    max-width: 800px;
    width: 100%;
    border-radius: 20px;
    position: relative;
    background: #000000;
    height: 450px;
}
.modal-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}





@media (max-width: 1399px){
    .close, .modal-close{
        top: 20px;
        right: 20px;
        width: 42px;
        height: 42px;
    }
    .can-apply-prcent strong {
        font-size: 30px;
        line-height: 125%;
    }

    .modal-options-info ul li {
        font-size: 16px;
    }

}

@media (max-width: 1299px){
    .types-mortgage-pik {
        height: 450px;
    }
    .modal-options {
        min-height: 600px;
    }
    .modal-options-flex .options-gallery-pic {
        height: 450px;
    }
    .modal-options-info span {
        font-size: 16px;
        margin-bottom: 6px;
    }
    .modal-options-scr {
        gap: 11px;
        height: 450px;
    }
    .golden-trophy h3 {
        font-size: 18px;
        line-height: 140%;
    }
    .golden-trophy img {
        max-width: 310px;
    }
    .golden-trophy {
        padding: 24px;
        height: 284px;
    }
    .modal-options-click {
        padding: 8px 16px;
        font-size: 16px;
        line-height: 24px;
    }

    .modal-news-info {
        height: 600px;
    }

    .modal-news-box {
        max-width: 630px;
        padding: 25px 14px 0 25px;
    }
    .gallery-fon {
        padding: 40px 40px;
    }
    .gallery-modal {
        max-width: 900px;
    }
    .gallery-modal-btn {
        margin-top: 34px;
        gap: 30px;
    }
    .gallery-modal-btn .swiper-pagination {
        font-size: 20px;
    }
    .news-photo {
        margin-top: 16px;
    }





}

@media (max-width: 1199px){
    .types-mortgage-pik {
        height: 420px;
        max-width: 410px;
    }
    .decorative-name span {
        font-size: 16px;
        line-height: 125%;
    }
    .project-benefits-info {
        gap: 16px;
    }
    .golden-trophy {
        height: 263px;
    }
    .can-apply-prcent strong {
        font-size: 24px;
    }
    .modal-options-info h4{
        font-size: 20px;
    }
    .modal-options-slide {
        max-width: 430px;
    }
    .modal-options-flex .options-gallery-pic {
        height: 410px;
    }
    .modal-options-info ul {
        margin-top: 12px;
    }
    .modal-options-scr {
        gap: 11px;
        height: 406px;
    }
}


@media (max-width: 1020px){
    .modal-options-slide{
        display: none;
    }
    .modal-options-info {
        max-width: 100%;
    }
    .modal-options-min {
        margin-top: 0;
    }
    .modal-options-href{
        display: none;
    }
    .modal-options {
        min-height: auto;
        padding: 4px 16px 24px;
        border-radius: 12px 12px 0 0;
    }
    .modal-close{
        display: none;
    }
    .modal-window {
        align-items: flex-end;
        padding: 0;
    }
    .modal-options-scr {
        height: 420px;
    }
    .modal-overlay {
        display: flex;
        transform: translateY(130%);
        transition: transform 0.3s
    }
    .modal-overlay.active {
        transform: translateY(0%);
    }
    .types-mortgage-pik{
        display: none;
    }
}

@media (max-width: 767px){
    .can-apply-prcent strong {
        font-size: 18px;
    }
    .can-apply-prcent p {
        font-size: 14px;
    }
    .golden-trophy img {
        max-width: 260px;
    }
    .golden-trophy h3 {
        font-size: 16px;
        line-height: 134%;
    }
    .golden-trophy {
        height: 246px;
        padding: 16px;
    }
    .gallery-fon {
        padding: 20px 10px;
        border-radius: 12px;
    }
    .gallery-modal-pic img {
        width: 100%;
        object-fit: cover;
        height: 350px;
    }
}