.parking-plan-call{
    gap: 16px;
}
.parking-plan-call .sort-calc{
    gap: 4px;
}
.parking-plan-min{
    margin-top: 40px;
}
.parking-plan-min .parts-title {
    margin-top: 0;
}

.parking-href{
    margin-top: 24px;
    background: #EFEFEF;
    width: max-content;
    border-radius: 51px;
    padding: 4px;

}

.parking-href ul{
    display: flex;
    align-items: center;
}
.parking-href ul li{
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    border-radius: 44px;
    border: 1px solid transparent;

}
.parking-href ul li.parking-active{
    border: 1px solid #0000001A;
    background: #FEFFFA;

}

.parking-map{
    position: relative;
    max-width: 1127px;
    width: 100%;
    display: flex;
}
.parking-map img{
    width: 100%;
}
.parking-svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}


.plan-parking{
    display: flex;
    max-width: 693px;
    width: 100%;
    position: relative;
}
.plan-parking img{
    width: 100%;
}
.svg-map{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.parking-js{
    display: none;
    position: relative;
    width: 100%;
}

.parking-href-min{
    margin-top: 40px;
}
.parking-map{
    margin-top: 40px;
}





.parking-plan-left{
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.parking-plan-left .parking-photo{
    max-width: 563px;
    width: 100%;
}
.parking-cards-pic{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.zoom-picture{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 40px;
}

.zoom-picture span{
    padding: 10px;
    width: 40px;
    height: 40px;
    color: rgba(0, 0, 0, 1);
    background: rgba(239, 239, 239, 1);
    border-width: 1px 1px  0 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    line-height: 120%;
    cursor: pointer;
    text-align: center;
}
.zoom-pic-plus{
    border-radius: 0 0 50px 50px ;

}
.zoom-pic-minus{
    border-radius: 50px 50px 0 0 ;

}

.zoom-picture .zoom-pic-minus{
    font-size: 40px;
}
.parking-photo svg rect {
    cursor: pointer;
}
.parking-photo svg path {
    cursor: pointer;
}
.parking-photo svg rect:hover{
    fill-opacity: 1;
    fill: rgba(190, 220, 28, 0.7);
}
.parking-photo svg path:hover{
    fill-opacity: 1;
    fill: rgba(190, 220, 28, 0.7);
}
.parking-floor-svg{
    max-width: 300px;
    width: 100%;
}




.parking-photo{
    position: relative;
    transition: transform 0.3s ease;
    transform-origin: center;
    display: flex;
}
.parking-photo.dragging {
    cursor: grabbing;
}
.storerooms-pics .parking-photo{
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
}

.parking-results-info{
    background: #000000;
    max-width: 221px;
    width: 100%;
    padding: 8px 12px;
    border-radius: 12px;
    position: absolute;
    z-index: 91;
    display: none;

}
.parking-results-info:after{
    content: '';
    position: absolute;
    transform: translateX(-50%) rotate(45deg);
    left: 50%;
    background: rgba(0, 0, 0, 1);
    width: 16px;
    height: 16px;
    bottom: -6px;

}
.parking-space-num{
    gap: 2px;
}
.parking-space-num p, .parking-space-num span{
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.parking-results-count{
    margin-top: 8px;
    gap: 2px;
}
.parking-results-count p, .parking-results-count span{
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}
.value-price-marg{
    margin-top: 8px;
}
.value-price-marg .discount-count{
    position: relative;
    top: 0;
    right: 0;
    padding: 4px 4px;
    font-size: 16px;
    line-height: 20px;
}
.value-price-result del{
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}
.value-price{
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);


}


.independent{
    margin-top: 40px;
    gap: 8px;
}
.independent-name{
    gap: 8px;
}
.independent-name span{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: block;
}
.independent-name p{
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    color: rgba(0, 0, 0, 1);
}
.bg-silver{
    background: rgba(233, 233, 233, 1);

}
.bg-black{
    background: rgba(0, 0, 0, 1);

}



@media (max-width: 1299px){
    .parking-cards-pic {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 1199px){
    .parking-cards-pic {
        max-width: 800px;
    }
    .parking-plan-left {
        gap: 25px;
    }
}
@media (max-width: 767px){
    .parking-plan-min {
        margin-top: 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .parking-plan-left {
        flex-direction: column;
    }
}