.real-estate{
    background: #EFEFEF;
    width: 100%;
    border-radius: 24px 24px;
    padding: 48px 40px 32px;
}


.real-estate-head{
    gap: 20px;
    margin-top: 34px;
}
.real-estate-menu ul{
    gap: 16px;
    display: flex;
    align-items: center;
}
.real-estate-menu ul li{
    width: max-content;
    height: 43px;
    padding: 8px 24px;
    gap: 10px;
    border-radius: 44px;
    border: 1px solid #0000001A;
    background: #FEFFFA;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #000000;

}
.real-estate-menu ul li:hover{
    background: #BEDC1C;
    color: #000000;
    border: 1px solid #BEDC1C;
    -webkit-text-stroke: 0.2px currentColor;
}
.real-estate-menu ul li:hover span {
    background: #FFFFFF;
}
.real-estate-menu ul li.real-estate-active{
    background: #BEDC1C;
    color: #000000;
    border: 1px solid #BEDC1C;
    -webkit-text-stroke: 0.2px currentColor;
}
.real-estate-filter{
    width: max-content;
}
.real-estate-filter ul{
    gap: 4px;
    display: flex;
    align-items: center;
}
.real-estate-filter ul li{
    background: #FFFFFF;
    max-width: 44px;
    width: 100%;
    height: 44px;
    border-radius: 50%;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.icon-vandak{
    content: url("../img/vandak.svg");
}
.icon-vandal-line{
    content: url("../img/vandal-line.svg");
}
.real-estate-filter ul li:hover{
    background: #BEDC1C;
}

.real-estate-filter ul li.params-active{
    background: #BEDC1C;
}


.real-estate-js{
    display: none;
}


.active-cat{
    display: block;
}



.apartments-boxes{
    display: none;
}
.active-box{
    display: block;
}

.selection-parameters{
    background: #FEFFFA;
    border-radius: 24px;
    padding: 32px 32px 40px;
    margin-top: 24px;
}
.selection-parameters h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #6F6F6F;
}

.select-parameter{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 24px;
}

.frame-select{
    max-width: 546px;
    width: 100%;
}
.frame-select label{
    display: flex;
    width: 100%;
}

.filter-block {
    max-width: 393px;
    width: 100%;
}

.select-parameter small{
    color: #262B31;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 8px;
    display: block;
}



.frame-select .jq-selectbox {
    vertical-align: middle;
    cursor: pointer;
    background: #FEFFFA;
    border: 1px solid #EFEFEF;
    border-radius: 12px;
    width: 100%;
    position: relative;
    transition: 0.3s;
}
.frame-select .jq-selectbox:hover{
    border: 1px solid rgba(190, 220, 28, 1);

}
.frame-select .jq-selectbox:after {
    content: "";
    position: absolute;
    top: 17px;
    right: 16px;
    background-image: url("../img/icons/arrow-down.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    transition: 0.3s;

}
.frame-select .opened:after{
    transform: rotate(-180deg);
}

.frame-select .jq-selectbox__select-text{
    padding: 16px 24px;
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}
.frame-select .jq-selectbox__dropdown {
    width: 100% !important;
    margin: 2px 0 0;
    padding: 8px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px #0000000D;
    border: 1px solid #EFEFEF;
}
.frame-select .jq-selectbox li {
    min-height: 18px;
    padding: 12px 12px;
    transition: 0.3s;
    cursor: pointer;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;

}
.frame-select .jq-selectbox li:first-child{
    display: none;
}
.frame-select .jq-selectbox li.selected {
    background: #0000000F;
    color: #000000;
}


.change-range-items .noUi-target{
    border: none;
    height: 4px;
    border-radius: 2px;
    background: #EFEFEF;
    box-shadow: unset;
}
.change-range-items  .noUi-connect {
    background: #BEDC1C;
}

.change-range-items .noUi-horizontal .noUi-handle {
    width: 16px;
    height: 16px;
    box-shadow: unset;
    border-radius: 50%;
    cursor: pointer;
    background: #BEDC1C;
    border: 1px solid #B1CE19;
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -10px!important;
    top: 38%;
    -webkit-transform: translateY(-38%);
    -ms-transform: translateY(-38%);
    transform: translateY(-38%);
}

.change-range-items .asked-question-click:before{
    transform: rotate(-180deg);
    top: 4px;
    transition: 0.3s;
}


.change-range-inp{
    display: flex;
    align-items: center;
    width: 100%;

}

.change-range-inp input{
    border: 1px solid #EFEFEF;
    width: 100%;
    height: 59px;
    gap: 10px;
    padding: 16px 24px;
    transition: 0.3s;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    background: unset;
}
.change-range-inp input:active{
    border: 1px solid #BEDC1C;
}
.change-range-inp input:focus{
    border: 1px solid #BEDC1C;
}
.range-number-one{
    border-radius: 12px 0 0 12px;
}
.range-number-two{
    border-radius:  0 12px 12px 0;
}
.change-range-padd{
    padding: 0 16px;
    margin-top: -3px;
}


.filter-search{
    max-width: 220px;
    width: 100%;
}
.filter-search label{
    display: flex;
    width: 100%;
    position: relative;
}
.filter-search input{
    width: 100%;
    height: 59px;
    padding: 16px 24px;
    border-radius: 12px;
    background: #FEFFFA;
    border: 1px solid #EFEFEF;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    font-family: 'Circe';

}
.filter-search input:focus{
    border: 1px solid #BEDC1C;
}
.filter-search input:hover{
    border: 1px solid #BEDC1C;
}
.filter-search input:active{
    border: 1px solid #BEDC1C;
}
.filter-search input::placeholder{
    color: #00000080;

}

.btn-search{
    display: flex;
    align-items: center;
    background: unset;
    position: absolute;
    top: 17px;
    right: 16px;
}


.number-rooms{
    max-width: 296px;
    width: 100%;
}

.number-rooms ul{
    gap: 8px;
    display: flex;
    align-items: center;
}
.number-rooms ul li{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    border: 2px solid #EFEFEF;
    background: #FEFFFA;
    border-radius: 12px;
    padding: 16px;
    transition: 0.3s;
    cursor: pointer;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number-rooms ul li:hover{
    border: 2px solid rgba(190, 220, 28, 1);
}

.number-rooms ul li.number-rooms-act{
    background: #BEDC1C;
    border: 2px solid rgba(190, 220, 28, 1);

}


.filter-finishing{
    max-width: 248px;
    width: 100%;
}

.filter-finishing-box{
    background: #EFEFEF;
    width: 100%;
    border-radius: 51px;
    padding: 4px;

}


.filter-finishing-box ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-finishing-box ul li{
    width: max-content;
    height: 43px;
    border-radius: 44px;
    padding: 8px 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    border: 1px solid transparent;
}
.filter-finishing-box ul li:hover{
    background: rgba(0, 0, 0, 0.1);
}
.filter-finishing-box ul li.finishing-act{
    background: #FEFFFA;
    border: 1px solid #0000001A;
}


.filters-found-flex{
    margin-top: 32px;
    gap: 24px;
}

.filters-found-items{
    gap: 16px;
}
.select-filter-name{
    width: max-content;
    height: 31px;
    gap: 4px;
    padding: 2px 8px 2px 16px;
    border-radius: 31px;
    cursor: pointer;
    background: #0000000D;
    border: 1px solid #00000026;
    backdrop-filter: blur(4px);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-name-remove{
    display: none;
}
.reset-filters-flex{
    gap: 24px;
}

.reset-filters-flex span{
    color: #00000080;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}
.reset-filters{
    cursor: pointer;
    transition: 0.3s;
    gap: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    display: flex;
    align-items: center;
}



.family-filters-wrap{
    margin-top: 24px;
    gap: 24px;
}

.family-filters-box{
    width: calc(25% - 18px);
    background: #BEDC1C;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.family-filters-box h3{
    padding: 24px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
}

.family-filters-wrap .apartments-card{
    width: calc(25% - 18px);
    max-width: max-content;
}

.lock-box{
    position: absolute;
    top: 0;
    left: 0;
}


.card-lock .apartments-photo{
    opacity: 0.40;
}
.card-lock .apartments-numb{
    opacity: 0.40;
}
.card-lock .building-square{
    opacity: 0.40;
}
.card-lock .discount-count{
    background: #0000001A;

}










.btn-see-more{
    margin-top: 24px;
    width: max-content;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #000000;
    background: #FEFFFA;
    border: 2px solid #000000;
    height: 48px;
    padding: 16px 32px;
    border-radius: 100px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-see-more:hover{
    border: 2px solid rgba(190, 220, 28, 1);
    color: rgba(190, 220, 28, 1);
}

.real-estate-click span{
    background: #BEDC1C;
    display: block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: 0.3s;
}
.real-estate-active span{
    background: #FFFFFF;
}
.parking-spaces-box>small{
    color: #00000080;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    margin-top: 8px;

}




.apart-filter-col{
    background: #FEFFFA;
    border-radius: 24px;
    padding: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
}

.apart-filter-box{
    border-bottom: 1px solid #00000026;
    width: 100%;
    padding: 16px;
    border-radius: 0;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apart-filter-box:hover{
    background: #0000000D;
    border-radius: 12px;
    border-bottom: 1px solid transparent;
    gap: 20px;
}
.apart-filter-pic{
    display: flex;
    width: 80px;
    height: 80px;
}
.apart-filter-pic img{
    width: 100%;
}

.apart-filter-prcnet{
    gap: 48px;
}
.apart-filter-count {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.apart-filter-count p{
    color: #000000;
}
.apart-filter-count span{
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
}
.apart-filter-price{
    gap: 16px;
    position: relative;
}

.discount-apart{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #BEDC1C;
    width: max-content;
    padding: 4px 8px;
    border-radius: 50px;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.parking-spaces-wrap{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.parking-spaces-box{
    width: calc(25% - 18px);
    background: #FEFFFA;
    border-radius: 24px;
    padding: 24px 16px 18px;
}

.parking-spaces-price{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #00000026;
}

.parking-spaces-price span, .parking-spaces-name span{
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    vertical-align: middle;
    color: #000000;
}
.parking-spaces-count small{
    display: block;
    margin-top: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
}
.parking-buld{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 16px;
}

.parking-spaces-name{
    display: flex;
    align-items: center;
    gap: 8px;
}




.clear-parameters{
    display: none;
}

.search-spaces-wid{
    max-width: 48%;
}


@media (max-width: 1399px){
    .real-estate {
        padding: 32px 0 32px;
    }
    .select-parameter {
        gap: 22px;
        margin-top: 20px;
    }
    .frame-select {
        max-width: 496px;
    }
    .filter-block {
        max-width: 285px;
    }
    .building-square {
        gap: 16px 10px;
    }
    .family-filters-box {
        width: calc(25% - 12px);
    }
    .family-filters-wrap{
        gap: 16px;
    }
    .family-filters-wrap .apartments-card {
        width: calc(25% - 12px);
    }

    .infrast-map-cnt {
        max-width: 328px;
        padding: 18px;
    }




}
@media (max-width: 1299px){
    .filter-block,
    .frame-select,
    .filter-search
     {
        max-width: 48%;
        width: 100%;
    }
    .selection-parameters {
        padding: 30px 24px 30px;
        margin-top: 24px;
    }
    .family-filters-wrap {
        gap: 24px;
    }
    .family-filters-box {
        width: calc(33.333333% - 18px);
    }
    .family-filters-wrap .apartments-card {
        width: calc(33.333333% - 18px);
    }

    .apart-filter-count span {
        font-size: 20px;
        line-height: 125%;
    }
    .apart-filter-prcnet {
        gap: 40px;
    }
    .apartments-price strong {
        font-size: 20px;
    }

    .parking-spaces-price span, .parking-spaces-name span {
        font-size: 20px;
    }
    .apart-filter-col {
        padding: 24px;
    }
}

@media (max-width: 1199px){
    .select-filter-name {
        font-size: 16px;
    }

    .family-filters-box h3 {
        padding: 20px;
        font-size: 24px;
        line-height: 32px;
    }
    .parking-spaces-wrap {
        margin-top: 16px;
        gap: 16px;
    }
    .parking-spaces-box {
        width: calc(33.333333% - 12px);
    }
    .apart-filter-box {
        padding: 12px;
    }


    .apart-filter-col {
        padding: 16px;
    }
   .selection-parameters .btn-see-more {
        margin: 18px 0 0;
    }
    .btn-see-more {
        margin: 18px auto 0;
    }
}
@media (max-width: 1020px){
    .selection-parameters{
        position: fixed;
        width: 100%;
        padding: 8px 16px 24px;
        height: auto;
        bottom: 0;
        top: auto;
        left: 50%;
        border-radius: 24px 24px 0 0;
        transform: translateY(130%) translateX(-50%);
        transition: transform 0.3s ease;
        z-index: 9992;
        background: #FEFFFA;
        gap: 18px;
    }
    .selection-parameters::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    .selection-parameters::-webkit-scrollbar-thumb {
        width: 0;
        height: 0;
    }
    .select-parameter::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    .select-parameterparameters::-webkit-scrollbar-thumb {
        width: 0;
        height: 0;
    }
    .touchstart-open{
        transform: translateY(0%) translateX(-50%);
    }
    .select-parameter{
        overflow-y: auto;
        height: 450px;
        padding-right: 5px;
    }

    .real-estate-head {
        gap: 8px;
        margin-top: 16px;
    }

    .family-filters-box{
        display: none;
    }
    .family-filters-wrap .apartments-card {
        width: calc(50% - 18px);
    }
    .selection-parameters h4{
        font-weight: 700;
        font-size: 20px;
        line-height: 110%;
        text-transform: uppercase;
        color: #000000;
    }
    .filters-found-flex{
        display: none;
    }

    .family-filters-wrap .apartments-card{
        display: none;
    }
    .family-filters-wrap .apartments-card:nth-child(2),
    .family-filters-wrap .apartments-card:nth-child(3),
    .family-filters-wrap .apartments-card:nth-child(4),
    .family-filters-wrap .apartments-card:nth-child(5) {
        display: block;
    }

    .parking-spaces-wrap {
        margin-top: 20px;
        gap: 16px;
    }
    .parking-spaces-box {
        width: calc(50% - 8px);
    }
    .clear-parameters{
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        text-align: right;
        color: #000000;
        cursor: pointer;
    }
    .real-estate-filter{
        display: none;
    }
    .master-plan{
        display: none;
    }

    .open-estate-filter{
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 300px;
    }

    .apart-filter-box {
        padding: 16px 0;
        border-radius: 0;
    }
    .selection-parameters .btn-see-more{
        display: none;
    }

}

@media (max-width: 767px){
    .real-estate-menu{
        overflow-y: hidden;
        overflow-x: scroll;
        margin-right: -16px;
    }
    .real-estate-menu::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    .real-estate-menu::-webkit-scrollbar-thumb {
        width: 0;
        height: 0;
    }
    .real-estate-menu ul {
        width: max-content;
    }
    .open-estate-filter {
        max-width: 600px;
    }
    .family-filters-wrap .apartments-card {
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
    }
    .select-parameter {
        gap: 22px;
        margin-top: 16px;
    }

    .filter-block, .frame-select, .filter-search, .number-rooms {
        max-width: 100%;
        width: 100%;
    }
    .filter-finishing {
        max-width: 100%;
    }
    .filter-finishing-box ul {
        justify-content: space-between;
    }
    .btn-see-more {
        margin-top: 16px;
        padding: 15px 32px;
        font-size: 18px;
        width: 100%;
    }
    .real-estate-menu ul {
        gap: 8px;
    }

    .parking-spaces-box {
        width: 100%;
    }




}