.timer-wrapper {
    background: #000000;
    padding: 35px 16px;
    border-radius: 24px;
    text-align: center;
    color: #fff;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-wrapper h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}


.timer-wrapper p {
    margin-bottom: 8px;
    margin-top: 7px;
    text-align: center;
    color: #FFFFFF;
}

.timer {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
}

.time-box {
    color: #BEDC1C;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.time-box span {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #BEDC1C;
}

.time-label {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #BEDC1C;
}

.colon {
    font-size: 24px;
    color: #fff;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1299px){
    .timer-wrapper h3 {
        font-size: 22px;
    }
    .timer-wrapper {
        padding: 24px 16px;
    }

    .timer-wrapper p {
        font-size: 16px;
        line-height: 24px;
    }





}
@media (max-width: 1020px){
    .timer-wrapper {
        padding: 30px 20px;
        border-radius: 20px;
        max-width: 500px;
    }
    .timer-wrapper {
        border-radius: 20px;
        order: 1;
    }
    .from-station{
        order: 2;
    }
    .card-stack{
        order: 3;
    }

}
@media (max-width: 570px) {
    .timer {
        gap: 5px;
    }

    .time-box span {
        font-size: 16px;
    }

    .time-label {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }
    .time-box {
        padding: 9px 8px;
        height: auto;
        border-radius: 9px;
    }
    .timer-wrapper p {
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 21px;

    }
    .timer-wrapper h3 {
        font-size: 18px;
        line-height: 30px;
    }

    .timer-wrapper {
        padding: 22px 14px;
        border-radius: 24px;
        height: 159px;
    }
    .time-box span {
        font-size: 20px;
    }


}